@use "variables.scss" as vars;

#home_container {
    width: 100%;
    min-height: 100vh;
    overflow-y: auto;

    background-image: url("../assets/city.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;


    //image and descriptions

    .center {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        //circle image
        .circle-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            animation: slideInLeft 0.8s ease-out forwards;
            z-index: 5;

            .outer-circle {
                position: relative;
                width: 300px;
                height: 300px;
                border-radius: 50%;

                //border circle
                padding: 10px;
                background-color: transparent;
                background: linear-gradient(135deg, vars.$color3, vars.$color5);
                box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    object-fit: cover;
                    border: 5px solid white;
                }

                .inner-circle {
                    position: absolute;
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    background: vars.$color2;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
                }
            }
        }
    }




    //button section 
    .center.buttons {
        position: relative;
        z-index: 6;
        gap: 20px;
        justify-content: space-around;


        .home_btn {
            padding: 5px;
            font-family: vars.$font1;
            color: vars.$color2;
            width: 150px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
            border-radius: 15%;
            border-style: double;
            border-color: vars.$color2;
            background: vars.$color5;
            margin-top: 50px;

            &:hover {
                color: vars.$color25;
                box-shadow: 0 0 15px rgba(0, 0, 0, 1);
            }
        }
    }


    //text section 

    .under {
        max-width: 40%;

        h1 {

            font-family: vars.$font1;
            color: vars.$color2;
            text-shadow:
                -1px -1px 0 vars.$color3;
            font-weight: 800;
        }

        #textHome {
            width: 100%;
            padding: 15px;
            border-radius: 15%;
            box-shadow: 0 0 150px vars.$color6;
            background: radial-gradient(circle,
                    vars.$color5 60%,
                    rgba(vars.$color5, 0.6) 80%,
                    rgba(vars.$color5, 0) 100%);

            p {
                font-family: vars.$font2;
                font-weight: 800;
                font-size: vars.$font-size6;
                color: vars.$color25;
                text-shadow:
                    2px -1px 0 vars.$color1;
            }
        }
    }





    //bubbles span
    .bubbles {
        position: absolute;
        inset: 0;
        overflow: hidden;
        pointer-events: none;
        z-index: 1;
    }

    .bubbles span {
        position: absolute;
        bottom: -100px;
        animation-duration: 15s;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: radial-gradient(circle at 30% 30%, vars.$color5, vars.$color3);
        box-shadow: 0 0 10px vars.$color2;
        opacity: 0;
        animation: floatUp 12s linear infinite;

        &:nth-child(1) {
            position: absolute;
            left: 10%;
            animation-duration: 20s;
            width: 30px;
            height: 30px;
        }

        &:nth-child(2) {
            position: absolute;
            left: 30%;
            animation-duration: 15s;
            width: 60px;
        }

        &:nth-child(3) {
            position: absolute;
            left: 80%;
            animation-duration: 15s;
            width: 20px;
            height: 20px;
        }

        &:nth-child(4) {
            position: absolute;
            left: 40%;
            animation-duration: 18s;
            width: 50px;
            height: 50px;
        }

        &:nth-child(5) {
            position: absolute;
            left: 70%;
            animation-duration: 17s;
            width: 20px;
            height: 20px;
        }

        &:nth-child(6) {
            position: absolute;
            left: 30%;
            animation-duration: 13s;
            width: 40px;
            height: 40px;
        }

        &:nth-child(7) {
            position: absolute;
            left: 60%;
            animation-duration: 16s;
            width: 40px;
            height: 40px;
        }
    }



    //circle animations 

    @keyframes slideInLeft {
        0% {
            transform: translateX(-100px);
            opacity: 0;
        }

        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }

    //bubbles animation
    @keyframes floatUp {
        10% {
            transform: translate(30%, 0) scale(1);
            opacity: 0;
        }

        10% {
            opacity: 0.8;
        }

        50% {
            transform: translate(80%, -60vh) scale(1.2);
        }

        100% {
            transform: translate(50%, -120vh) scale(1.4);
            opacity: 0;
        }

        70% {
            transform: translate(25%, -120vh) scale(1.4);
            opacity: 0;
        }

        30% {
            transform: translate(5%, -120vh) scale(1.4);
            opacity: 0;
        }
    }


}