
$color1:#fff;
$color2:rgba(6, 1, 36, 0.5);
$color25:rgba(6, 1, 36);
$color3:rgba(47, 95, 172, 0.9);
$color32:rgba(87, 159, 213, 0.9);
$color4:#78bef3;
$color5:rgba(219, 234, 254, 0.9);
$color6:rgba(219, 234, 254);

//chart style
$colored : #ef4444;
$colored-tr:rgba(131, 54, 61, 0.8);
$colorgreen :#22c55e;
$colorgreen-tr:rgb(77, 154, 85, 0.8);
$colorgolden :rgb(206, 211, 98);
$colorgolden-tr :rgb(206, 211, 98,0.8);


$font1:Georgia,'Times New Roman',Times,serif;
$font2:Verdana,Geneva,Tahoma,sans-serif;
$font-size1:55px;
$font-size2:50px;
$font-size3: 40px;
$font-size4: 30px;
$font-size4plus: 35px;
$font-size5: 25px;
$font-size6: 20px;
$font-size7: 17px;
$font-size8: 15px;

$font-size11:11px;

